.auth{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding-top: 5rem;
    form{
        max-width: 600px;
        margin: 0 auto;
        input{
            margin-bottom: 10px;
        }
        button{
            margin-right: 5px;
        }
        a{
            text-decoration: none;
        }
    }
}