.auth{
    height: 100%;
    padding-top: 5rem;
    form{
        max-width: 600px;
        min-height: 350px;
        margin: 0 auto;
        input{
            margin-bottom: 10px;
        }
        button{
            margin-right: 10px;
            min-width:100px;
        }
        a{
            text-decoration: none;
        }
    }
}